.body{
	background-color: #E8E8E8;
}

.centerText{
	text-align:center;
}

.scrollbox{
	height: 330px;
	overflow: auto;
	background-color: #e6e6e6;
}

.categoryBackgroundColor0{
	background-color: #686868; 
	color: white;
	

	border: solid;
	border-width: 1px;
	border-color: black;
}

.categoryBackgroundColor1{
	/*background-color: #585858;*/
	background-color: #686868; 
	color: white;
	

	border: solid;
	border-width: 1px;
	border-color: black;
}
	
.myCategories{
	font-size: 40px;
}	

.categoryImage{
	float: left;
}

.leftRight0{
	/*float:left;*/
	font-size: 20px;

	text-align:center;
}

.leftRight1{
	/*float:right;*/
	font-size: 20px;

	text-align:center;
}

.subcategoryColor0{
	background-color: #E8E8E8;
}

.subcategoryColor1{
	background-color: #FFFFFF ; 
}

.cartLine0{
	background-color: #E8E8E8;
	height:100px;
}

.cartLine1{
	background-color: #FFFFFF ; 
	height:100px;
}


.rightAlign{
	float:right;
}

#inner_ajax_Output{
	padding: 0px;
}

#Not_Ajax_Output{
	padding: 0px;
}

.textboxWidth{
	width: 30px;
}
/*
h1{
	font-family:'ABeeZee', serif;
	color:#FFFFFF;
}
p{
	font-family:'ABeeZee', serif;
	color:#FFFFFF;
}
h3{
	font-family:'ABeeZee', serif;
	color:#FFFFFF;
}
h4{
	font-family:'ABeeZee', serif;
	color:#FFFFFF;
}
h5{
	font-family:'ABeeZee', serif;
	color:#FFFFFF;
}

.wordPressTitles{
	margin-top: 3%;
}

.wordPressScreenShots{
	background-color:#FFFFFF;

	max-width: 100%;
  	display:block;
  	margin-top: 1%;
  	margin-bottom: 1%;
  	text-align: center;
}

.scrollBoxContainer{
	background-color:#787878;
	padding-top:1%;
	padding-bottom: 1%;
	margin-bottom: 3%;
	margin-top: 3%;
	border-radius: 25px;
}

.teamScrollBox{
	overflow:auto; 
	height:35%;
}

.businessScrollBox{
	overflow:auto; 
	height:35%;
}

.fullScrollBox{
	overflow:auto; 
	height:35%;
}

.mobileScrollBox{
	overflow:auto; 
	height:50%;
}

.portfolioImages{
  max-width:65%;
  display:block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  border-radius: 70px;
  border:solid;
  border-color: #000000;
  border-width: 1%;
}


.blueColor{
	background-color: #FFFFFF;

	padding:1%;
	border-radius: 50%;
}


.pagination{
	border:1px;
	border-style: solid;
	border-color:#4477BC;
	padding:4px;
	padding-left:8px; 
	padding-right:8px;
	margin-right: 1px;
	margin-left:1px;
}

.teamPagePic {
  max-width: 40%;
  display:block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  border-radius: 50%;
  border:solid;
  border-color: #000000;
  border-width: 1%;
}

#profpic {
  max-width: 40%;
  display:block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  border-radius: 50%;
  border:solid;
  border-color: #000000;
  border-width: 1%;
}

.footerColor{
	margin-top: 5%;
	background-color: #787878;
	text-align: center;
}

.footerBorder{

  border-top: solid;
  border-color: #000000;
  border-width: 1%;
}

.boxedColor{
	background-color: #333333;
	display:block;
}

.profBorderBox{
	display:block;
	padding:1%;
	border-radius: 25px;
}

.profBoxes{
	background-color: #787878;
	margin-bottom: 1%;
	display:block;
	border-radius: 25px;

	border:solid;
  	border-color: #000000;
  	border-width: 1%;
  	padding:5%;

}

.profLonelyParagraph{
	background-color: #787878;
	margin-bottom: 1%;
	display:block;
	padding:1%;
	border-radius: 25px;
	margin-top: 1%;
}

.headerColor{
	background-color: #787878;
	width: 50%;
	display:block;
	margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
}

.boxMargin{
	margin:1%;
}

.teamPortfolio{
	margin-left: auto;
	display:block;
}

.kitePortfolio{
	margin-right: auto;
	display:block;
	margin-bottom: 1%;
}

.kiteImage{
	max-width: 48.5%;
	display:block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#siteIndex{
	text-align: center;
}

.whiteBackground{
	background-color: white;
}

.screenShots{
  max-width: 100%;
  display:block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}





.navbar-trans li>a{
    color: #69929B;
    font-size: 18px;
}
.navbar-trans {
	background-color:none;
    color:#000;
    font-family: "Alegreya SC", serif;
    font-weight: 300;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:#ebebeb;
    font-family: "Alegreya SC", serif;
    font-weight: 400;
}

*/





/*@media screen and (min-width: 992px) {
	#profpics {
		max-width: 20%;
		display:block;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
}*/