body{
	background-color: #EBEBEB;
}


.squareDivs{
	background-color:#DDDDDD;
	height:385px;
	overflow: scroll;
	border-right:solid;
	border-width: 1px;
	border-color: black;
	outline-width: 0;
	width:50%;
	float:left;
}

.titleDivs{
	border-top: solid;
	border-right: solid;
	border-width: 1px;
	border-color: black;
	width:50%;
	float: left;
	background-color: #8EB1C7;
	color:white;
}
/*
.sideBar{
	background-color:#ffffff;
	height:810px;
	border:solid;
	border-width: 1px;
	border-color: #DDDDDD;
}
*/
.header{
	background-color:white;
	width:100%;
}
#myFrame{
	height:100%;
	width:100%; 
	background-color: white;
}

#resultsDiv{
	background-color:#EBEBEB;
	height:383px;
	overflow: scroll;
	border:solid;
	border-width: 1px;
	border-color: #DDDDDD;
	outline-width: 0;
	float:left;
}

#javascriptDiv{
	/*float:left;*/
}

#zipForm{
	border:none;
	background-color: white;
	color:#2F79B9;
}

.headerText{
	float:left;
}

.buttonLinks{
	padding-left:3px;
}
