body{
	background-color: #202020;
}

.squareDivs{
	background-color:#DDDDDD;
	height:385px;
	overflow: scroll;
	/*border:solid;
	border-width: 1px;*/
	outline-width: 0;
	width:50%;
	float:left;
}

.titleDivs{
	/*border-top: solid;
	border-left: solid;
	border-width: .5px;
	border-color: #DDDDDD;*/
	width:50%;
	float: left;
	background-color: #202020;
	color:#87908A;
}
/*
.sideBar{
	background-color:#ffffff;
	height:810px;
	border:solid;
	border-width: 1px;
	border-color: #DDDDDD;
}
*/
.header{
	background-color:#ffffff;
}
#myFrame{
	margin:1%;
	height:94%;
	width:98%; 
	background-color: white;
}

#resultsDiv{
	background-color:#272822;
	height:383px;
	overflow: scroll;
	border:solid;
	border-width: 1px;
	border-color: #DDDDDD;
	outline-width: 0;
	float:left;
}

#javascriptDiv{
	/*float:left;*/
}

